body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #bbbbbb;
  color: white;
}

.active {
  background-color: #393e46;
  border-radius: 5px;
}

.btn {
  z-index: 10;
  white-space: nowrap;
  padding: 0.5rem 0;
  width: 7rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin: 3rem;
}

.btn:hover {
    cursor: pointer;
    background-color: #e7e7e7; 
}

.game-container {
  display: flex;
  width: 50vw;
  height: 75vh;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
  background-color: #222831;
  border-radius: 5px;
}

.player1-area,
.player2-area {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 0;
}

.center-area {
  width: 0.01%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

.die1,
.die2 {
  width: 6rem;
  height: 6rem;
  margin: 1rem;
  z-index: 10;
  box-shadow: 1px 1px 3px 1px rgb(203, 203, 203);
}

.die1 img,
.die2 img {
  width: 100%;
}

.opening-screen {
  color: black;
  position: absolute;
  z-index: 11;
  width: 80%;
  height: 85%;
  background-color: #b3b3b3;
}

.win {
  background-color: #00adb5;
  border-radius: 5px;
}

.opening-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
}

.bottom-opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 15%;
  padding: .3rem 0;
}

.hide {
  display: none;
}

.start {
    margin:.5rem;
}

.win-msg {
    font-size: 3rem;
    margin-top:3rem;
}

.current {
    font-size:1.5rem;
}
